<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.avatech.edi.akcrm.mapper.SalesOrderMapper">

    <resultMap id="SalesOrderMap" type="com.avatech.edi.akcrm.model.bo.SaleOrder.SaleOrder">
        <result column="U_Quanty" property="quantity" jdbcType="VARCHAR"/>
        <result column="U_CRMnum" property="crmNum" jdbcType="VARCHAR"/>
        <result column="U_CRMordeType" property="crmOrderType" jdbcType="VARCHAR"/>
        <result column="U_ZBZK" property="zbzk" jdbcType="DECIMAL"/>
        <result column="U_JDZZ" property="jdzz" jdbcType="VARCHAR"/>
        <result column="Comments" property="comments" jdbcType="VARCHAR"/>
        <result column="U_ZBZZK" property="zbzzk" jdbcType="VARCHAR"/>
        <result column="U_CardNo" property="cradNo" jdbcType="VARCHAR"/>
        <result column="U_Rebate" property="rebate" jdbcType="DECIMAL"/>
        <result column="U_DBPrice" property="dbbPrice" jdbcType="DECIMAL"/>
        <result column="U_ZDPrice" property="zdprice" jdbcType="DECIMAL"/>
        <result column="U_PayDemo" property="payDemo" jdbcType="VARCHAR"/>
        <result column="U_BuyPerson" property="buyPerson" jdbcType="VARCHAR"/>
        <result column="U_PayPerson" property="payPerson" jdbcType="VARCHAR"/>
        <result column="U_Billtype" property="billType" jdbcType="VARCHAR"/>
        <result column="U_InvPrice" property="invPrice" jdbcType="DATE"/>
        <result column="U_EndAddName" property="endAddName" jdbcType="VARCHAR"/>
        <result column="U_EndAddress" property="endAddress" jdbcType="VARCHAR"/>
        <result column="U_Cont" property="cont" jdbcType="VARCHAR"/>
        <result column="U_Phone" property="phone" jdbcType="VARCHAR"/>
        <result column="U_IsYBNSR" property="isYbnsr" jdbcType="VARCHAR"/>
        <result column="U_GTSBank" property="gTSBank" jdbcType="VARCHAR"/>
        <result column="U_GTSBAct" property="gtsBact" jdbcType="VARCHAR"/>
        <result column="U_GTSBAddr" property="gtsbAddr" jdbcType="VARCHAR"/>
        <result column="U_SalePerson" property="salePerson" jdbcType="VARCHAR"/>
        <result column="U_ZBZZK" property="zbzzk" jdbcType="VARCHAR"/>
        <result column="U_ZBFL" property="zbfl" jdbcType="VARCHAR"/>
        <result column="U_BuyCard" property="buyCard" jdbcType="VARCHAR"/>
        <result column="OrderNo"   property="orderNo" jdbcType="VARCHAR"/>
        <result column="DocEntry"  property="DocEntry" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="SalesOrderLineMap" type="com.avatech.edi.akcrm.model.bo.SaleOrder.SalesOrderLine">
        <result column="Quantity" property="quantity" jdbcType="DECIMAL"/>
        <result column="LineNum" property="lineNum" jdbcType="VARCHAR"/>
        <result column="U_ZB1ZK" property="zblzk" jdbcType="VARCHAR"/>
        <result column="Price" property="lineStatus" jdbcType="DECIMAL"/>
        <result column="U_ItemEndPrice" property="itemEndPrice" jdbcType="VARCHAR"/>
        <result column="U_ItemZKPrice" property="itemZKPrice" jdbcType="VARCHAR"/>
        <result column="ItemCode" property="itemCode" jdbcType="VARCHAR"/>
        <result column="U_Notes" property="notes" jdbcType="VARCHAR"/>
        <result column="U_DocNum" property="docNum" jdbcType="VARCHAR"/>
        <result column="U_SJSaleNum" property="sjSalesNum" jdbcType="VARCHAR"/>
        <result column="WhsCode" property="whsCode" jdbcType="VARCHAR"/>
        <result column="DocEntry" property="docEntry" jdbcType="VARCHAR"/>
    </resultMap>


    <insert id="insertSalesOrder" parameterType="com.avatech.edi.ak.model.bo.ak.SalesOrder">
             INSERT INTO "AVA_WM_ORDR" (
                     "U_Quanty",
                     "U_CRMnum",
                     "U_CRMordeType",
                     "U_ZBZK",
                     "U_JDZZ",
                     "Comments",
                     "U_ZBZZK",
                     "U_CardNo",
                     "U_Rebate",
                     "U_DBPrice",
                     "U_ZDPrice",
                     "U_PayDemo",
                     "U_BuyPerson",
                     "U_PayPerson",
                     "U_Billtype",
                     "U_InvPrice",
                     "U_EndAddName",
                     "U_EndAddress",
                     "U_Cont",
                     "U_Phone",
                     "U_IsYBNSR",
                     "U_GTSBank",
                     "U_GTSBAct",
                     "U_GTSBAddr",
                     "U_SalePerson",
                     "U_ZBZZK",
                     "U_ZBFL",
                     "U_BuyCard"
              )
             values(
                      #{quantity},
                      #{crmNum},
                      #{crmOrderType},
                      #{zbzk},
                      #{jdzz},
                      #{comments},
                      #{zbzzk},
                      #{cradNo},
                      #{rebate},
                      #{dbbPrice},
                      #{zdprice},
                      #{payDemo},
                      #{buyPerson},
                      #{payPerson},
                      #{billType},
                      #{invPrice},
                      #{endAddName},
                      #{endAddress},
                      #{cont},
                      #{phone},
                      #{isYbnsr},
                      #{gTSBank},
                      #{gtsBact},
                      #{gtsbAddr},
                      #{salePerson},
                      #{zbzzk},
                      #{zbfl},
                      #{buyCard}
             )
         </insert>

    <select id="searchSalesOrder" resultMap="SalesOrderMap">
             SELECT
                     T0."U_Quanty",
                     T0."U_CRMnum",
                     T0."U_CRMordeType",
                     T0."U_ZBZK",
                     T0."U_JDZZ",
                     T0."Comments",
                     T0."U_ZBZZK",
                     T0."U_CardNo",
                     T0."U_Rebate",
                     T0."U_DBPrice",
                     T0."U_ZDPrice",
                     T0."U_PayDemo",
                     T0."U_BuyPerson",
                     T0."U_PayPerson",
                     T0."U_Billtype",
                     T0."U_InvPrice",
                     T0."U_EndAddName",
                     T0."U_EndAddress",
                     T0."U_Cont",
                     T0."U_Phone",
                     T0."U_IsYBNSR",
                     T0."U_GTSBank",
                     T0."U_GTSBAct",
                     T0."U_GTSBAddr",
                     T0."U_SalePerson",
                     T0."U_ZBZZK",
                     T0."U_ZBFL",
                     T0."U_BuyCard"
             from "AVA_WM_ORDR" T0
         </select>

    <insert id="insertSalesOrderLine" parameterType="com.avatech.edi.ak.model.bo.ak.SalesOrderLine">
             INSERT INTO "AVA_WM_RDR1" (
                     "Quantity",
                     "LineNum",
                     "U_ZB1ZK",
                     "Price",
                     "U_ItemEndPrice",
                     "U_ItemZKPrice",
                     "ItemCode",
                     "U_Notes",
                     "U_DocNum",
                     "U_SJSaleNum",
                     "WhsCode"
              )
             values(
                      #{quantity},
                      #{lineNum},
                      #{zblzk},
                      #{lineStatus},
                      #{itemEndPrice},
                      #{itemZKPrice},
                      #{itemCode},
                      #{notes},
                      #{docNum},
                      #{sjSalesNum},
                      #{whsCode}
             )
         </insert>

    <select id="searchSalesOrderLine" resultMap="SalesOrderLineMap">
             SELECT
                     T0."Quantity",
                     T0."LineNum",
                     T0."U_ZB1ZK",
                     T0."Price",
                     T0."U_ItemEndPrice",
                     T0."U_ItemZKPrice",
                     T0."ItemCode",
                     T0."U_Notes",
                     T0."U_DocNum",
                     T0."U_SJSaleNum",
                     T0."WhsCode"
             from "AVA_WM_RDR1" T0
         </select>
    <update id="updateSaleOrder" parameterMap="com.avatech.edi.akcrm.mapper.SalesOrderMapper">
        update AVA_WM_ORDR T0 set  "DocEntry"={docEntry} ,"IsSync"='Y' where "OrderNo"=#{}
    </update>

</mapper>